<a href="https://colab.research.google.com/github/wyk172899/StudyMachine/blob/main/studymachine2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import json
import pandas as pd
import xml.etree.ElementTree as ET

In [ ]:
d = {"name":"으야","str":"ㅁㄴㅇㄹ"}
print(d["name"])

으야

In [ ]:
d_str = json.dumps(d,ensure_ascii=False)
print(d_str)

{"name": "으야", "str": "ㅁㄴㅇㄹ"}

In [ ]:
d2 = json.loads(d_str)
print(d2)

{'name': '으야', 'str': 'ㅁㄴㅇㄹ'}

In [26]:
d3_str = """
[
  {"name":"혼자 공부하는 데이터 분석","author":["박해선","홍길동"],"year":2022},
  {"name":"혼자 공부하는 머신러닝+딥러닝","author":"홍길동","year":2020}
]
"""
d3 = json.loads(d3_str)
print(d3[0]['name'])
print(d3[0]['author'][0])
print(d3[1]['year'])

혼자 공부하는 데이터 분석
박해선
2020

In [27]:
pd.read_json(d3_str)

               name      author  year
0    혼자 공부하는 데이터 분석  [박해선, 홍길동]  2022
1  혼자 공부하는 머신러닝+딥러닝         홍길동  2020

In [28]:
pd.DataFrame(d3)

               name      author  year
0    혼자 공부하는 데이터 분석  [박해선, 홍길동]  2022
1  혼자 공부하는 머신러닝+딥러닝         홍길동  2020

In [40]:
x_str = """
<books>
  <book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
  </book>
  <book>
    <name>혼자 공부하는 머신러닝+딥러닝</name>
    <author>홍길동</author>
    <year>2020</year>
  </book>
</books>
"""
x = ET.fromstring(x_str)
ET.dump(x)

<books>
  <book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
  </book>
  <book>
    <name>혼자 공부하는 머신러닝+딥러닝</name>
    <author>홍길동</author>
    <year>2020</year>
  </book>
</books>

In [42]:
x_childs = list(x)
print(x_childs)

[<Element 'book' at 0x7f11a1699bd0>, <Element 'book' at 0x7f11a16999a0>]

In [44]:
x_name = x.findtext('name')
x_author = x.findtext('author')
x_year = x.findtext('year')
print(x_name)

None

In [41]:
books = ET.fromstring(x_str)
print(books.tag)

books

In [45]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝+딥러닝
홍길동
2020

In [46]:
pd.read_xml(x_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    홍길동  2020